.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    background: linear-gradient(0deg, rgba(255,255,255) 80%, var(--choosedcolor) 100%);
    gap: 45px;
    border-radius: 5px;
}
.profile-picture{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.username{
    font-weight: bold;
    font-size: 12px;
}
.following, .followers{
    font-weight: bold;
    color: darkgray;
    font-size: 12px;
}