:root{
  --ayrdblue: #2DB2FD;
  --ayrdred: #FF5C5C;
  --ayrdgreen: #99E265;
  --ayrdyellow: #FFBE4A;
  --choosedcolor: var(--ayrdblue);
}
.App {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #F2F2F2;
}
